@import url("../Divi/style.css");
/*!
 Theme Name:     CEII
 Description:    CEII
 Author:         Randy Karey
 Author URI:     http://www.randykarey.com
 Template:       Divi
 Version:        1.0.0
*/
/* =Theme customization starts here
------------------------------------------------------- */
/*
 1. Miscellanous
    - Variables
    - Mixins
    - Misc
  2. Navigation
  3. Header
  4. Posts
  5. Pages
  6. Sidebar
  7. Widgets
  8. Footer
*/
/* ---------------------------------------------------------------------- 1. Miscellanous */
.et_pb_text {
  margin-bottom: 0;
}
/*.entry-content .et_pb_section .et_section_regular .et_pb_row {
	width: auto !important;
}*/
.section-head {
  height: 35px;
}
.section-head h1 {
  font-size: 150%;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #008752;
  line-height: 35px;
  width: auto;
}
body.page-id-38 .section-head h1,
body.page-id-40 .section-head h1,
body.page-id-42 .section-head h1,
body.page-id-47 .section-head h1,
body.page-id-306 .section-head h1 {
  /*@media @tablet {
		margin-right: 39.5%;
	}*/
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-38 .section-head h1,
  body.page-id-40 .section-head h1,
  body.page-id-42 .section-head h1,
  body.page-id-47 .section-head h1,
  body.page-id-306 .section-head h1 {
    margin-right: 0;
  }
}
.et_pb_promo {
  border: #bebebe 1px solid;
}
/* --------------- Programs page --------------- */
body.page-id-38 .et_pb_section {
  background: url(http://www.ceii.dev/wp-content/uploads/2014/08/program-bkgd.jpg) center top no-repeat;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  body.page-id-38 .section-head h1 {
    margin-right: 0;
  }
}
@media only screen and (max-width: 529px) {
  body.page-id-38 .et_pb_column {
    padding-bottom: 15px;
  }
}
.current-programs,
.current-brochures {
  width: 70%;
  margin: 30px 0 30px 15%;
  border: #bebebe 1px solid;
  background-color: #ffffff;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .current-programs,
  .current-brochures {
    margin-left: 15%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .current-programs,
  .current-brochures {
    width: 85%;
    margin: 5px 0 30px 7%;
  }
}
@media only screen and (max-width: 529px) {
  .current-programs,
  .current-brochures {
    width: 94%;
    margin: 1% 0 1% 2%;
  }
}
.current-programs h1,
.current-brochures h1 {
  color: #fff;
  background-color: #008752;
  font-size: 125%;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
.current-brochures h2 {
  font-size: 18px;
  color: #666666;
  padding: 3% 3% 1% 3%;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .current-brochures h2 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 529px) {
  .current-brochures h2 {
    font-size: 14px;
  }
}
.current-brochures a {
  color: #ffffff;
  background-color: #9e9c6e;
  padding: 3px 10px;
  margin-right: 1%;
  border-radius: 4px;
}
@media (max-width: 320px) {
  .current-brochures a {
    display: table;
    margin: 3px 0;
  }
}
.current-brochures p {
  margin-left: 3%;
}
.eventon_sorting_section {
  margin: 5px 0;
  padding: 8px 0 7px;
  border-top: 1px dashed #666666 !important;
  border-bottom: 1px dashed #666666 !important;
}
.eventon_sf_field p,
.evo_srt_sel p.fa,
.eventon_filter_line .filtering_set_val {
  color: #666666 !important;
}
@media only screen and (max-width: 529px) {
  .eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2,
  .evo_pop_body .evcal_desc span.evcal_desc2 {
    font-size: 14px !important;
  }
}
.body-text {
  padding-top: 30px;
  margin-bottom: 30px;
}
.body-text p {
  font-size: 112%;
  padding-left: 30px;
  padding-right: 30px;
}
/* --------------- Registration page --------------- */
body.page-id-40 .et_pb_row .et_pb_column {
  margin-right: 30px;
}
@media (max-width: 1180px) {
  body.page-id-40 .et_pb_row .et_pb_column {
    margin-right: 15px !important;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .page-id-40 .entry-content .et_pb_row:nth-child(2) .et_pb_column {
    width: 225px;
    margin-left: 10%;
    margin-right: 5px !important;
  }
}
.page-id-40 .et_pb_column.et_pb_column_1_4:first-child {
  margin-left: 4%;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page-id-40 .et_pb_column.et_pb_column_1_4:first-child {
    margin-left: 6%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .page-id-40 .et_pb_column.et_pb_column_1_4:first-child {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .page-id-40 .et_pb_column.et_pb_column_1_4 {
    margin-left: 6%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .page-id-40 .et_pb_column.et_pb_column_1_4 .reg-box {
    width: 225px !important;
  }
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo {
  padding: 0;
  border: #bebebe 1px solid;
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo h2 {
  font-size: 120%;
  color: #ffffff;
  line-height: 1.2;
  background-color: #006666;
  width: 100%;
  padding: 10px 13%;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page-id-40 .et_pb_column_1_4 .et_pb_promo h2 {
    font-size: 110%;
  }
}
@media (max-width: 320px) {
  .page-id-40 .et_pb_column_1_4 .et_pb_promo h2 {
    padding: 10px 5%;
  }
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo .et_pb_promo_description {
  padding-bottom: 10px;
  height: 200px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page-id-40 .et_pb_column_1_4 .et_pb_promo .et_pb_promo_description {
    height: 220px;
  }
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo h3 {
  font-size: 90%;
  color: #ffffff;
  font-weight: 700;
  background-color: #000;
  text-transform: uppercase;
  letterspacing: 1px;
  padding: 5px 0;
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo p {
  font-size: 90%;
  line-height: 1.4em;
  padding-top: 10px;
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo a.et_pb_promo_button {
  color: #ffffff !important;
  background-color: #9e9c6e;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  padding: 0px 20px;
  margin-bottom: 10px;
  border: none;
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo a.et_pb_promo_button:hover {
  background-color: #9e9c6e;
  padding: 0px 34px 0 14px !important;
  border: none;
}
.page-id-40 .et_pb_column_1_4 .et_pb_promo a.et_pb_promo_button:after {
  top: 0px;
}
@media (max-width: 320px) {
  .page-id-40 .et_pb_column_1_4 .et_pb_promo.vein-access h2 {
    padding: 10px 20%;
  }
}
@media (min-width: 1054px) and (max-width: 1100px) {
  .et_pb_column_1_4 {
    width: 210px;
  }
}
@media (min-width: 970px) and (max-width: 1053px) {
  .et_pb_column_1_4 {
    width: 190px;
  }
}
@media (min-width: 768px) and (max-width: 969px) {
  .et_pb_column_1_4 {
    width: 250px;
  }
}
@media (max-width: 944px) {
  .et_pb_column_1_4 #main-content .et_pb_column:nth-child (3) {
    margin-left: 4%;
  }
}
@media (max-width: 640px) {
  .et_pb_column_1_4 {
    margin: 0 auto;
  }
}
.et_pb_column_1_4 .et_pb_promo p {
  padding: 10px;
}
@media (max-width: 480px) {
  body.page-id-40 .et_pb_column_1_4 .et_pb_promo {
    width: 40%;
  }
}
@media (max-width: 320px) {
  body.page-id-40 .et_pb_column_1_4 .et_pb_promo {
    width: 87%;
  }
}
body.page-id-40 .et_pb_column_1_4 .et_pb_promo h2 {
  font-size: 100%;
  display: table-cell;
}
@media (max-width: 944px) {
  .et_pb_column {
    padding-bottom: 0;
  }
}
/*.page-id-40 .et_pb_blurb_content p strong em {
	@media @tablet {
		font-size: 120%;
	}
}*/
body.page-id-40 .et_pb_blurb_position_left .et_pb_main_blurb_image {
  position: absolute;
  top: 10%;
  left: 0;
  width: 103px !important;
}
@media (max-width: 320px) {
  body.page-id-40 .et_pb_blurb_position_left .et_pb_main_blurb_image {
    position: relative;
    margin-bottom: 0px;
    width: 100px;
  }
}
.page-id-40 .et_pb_blurb_content {
  padding-left: 110px;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .page-id-40 .et_pb_blurb_content p strong em {
    font-size: 120%;
  }
}
@media (max-width: 320px) {
  .page-id-40 .et_pb_blurb_content p {
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .page-id-40 .et_pb_blurb_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* --------------- More Online CEUs Page --------------- */
body.page-id-42 .et_pb_column_1_3 {
  margin-right: 30px;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  body.page-id-42 .et_pb_column_1_3 {
    width: 600px;
    margin-left: 36px;
  }
}
@media (max-width: 640px) {
  body.page-id-42 .et_pb_column_1_3 {
    width: 480px;
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  body.page-id-42 .et_pb_column_1_3 {
    width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
  body.page-id-42 .et_pb_column_1_3 {
    width: 300px;
    margin-left: 5px;
  }
}
body.page-id-42 .et_pb_column_1_3:first-child {
  margin-left: 36px;
}
@media (max-width: 480px) {
  body.page-id-42 .et_pb_column_1_3:first-child {
    margin-left: 36px;
  }
}
@media (max-width: 320px) {
  body.page-id-42 .et_pb_column_1_3:first-child {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-42 .et_pb_column_1_3 {
    margin-right: 6px !important;
  }
}
body.page-id-42 .et_pb_column_1_3 .et_pb_promo {
  padding: 0;
  margin-right: 15px;
  margin-left: 0px;
}
body.page-id-42 .et_pb_column_1_3 .et_pb_promo h2 {
  color: #f1dcb1;
  padding: 0px 5%;
  background-color: #006666;
  font-size: 16px;
  padding: 10px 5px;
  line-height: 1.5;
}
body.page-id-42 .et_pb_column_1_3 .et_pb_promo .et_pb_promo_description {
  padding-bottom: 10px;
  height: 100%;
}
body.page-id-42 .et_pb_column_1_3 .et_pb_promo .et_pb_promo_description p {
  padding: 10px 10px 0;
}
body.page-id-42 .et_pb_column_1_3 .et_pb_promo .et_pb_promo_description a {
  color: #008752;
  font-weight: bold;
  text-transform: bold;
  margin-top: 0;
  text-decoration: underline;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .full-width-panel {
    width: 83%;
    padding: 20px !important;
  }
  .full-width-panel img {
    max-width: 235px !important;
  }
  .et_pb_text.body-text {
    width: 95% !important;
  }
}
.et_pb_column_4_4 .et_pb_promo.full-width-panel {
  margin-left: 36px;
  margin-right: 36px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
}
@media (max-width: 320px) {
  .et_pb_column_4_4 .et_pb_promo.full-width-panel {
    width: 95%;
    margin-left: 5px;
  }
}
.et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description {
  height: 100%;
}
.et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description p {
  margin: 0 2% 0 32%;
  padding-top: 0;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description p {
    margin: 0 2% 0 2%;
  }
}
@media (max-width: 480px) {
  .et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description p {
    margin: 0 2% 0 2%;
    text-align: left;
  }
}
.et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description a {
  color: #008752;
}
@media (max-width: 480px) {
  .et_pb_column_4_4 .et_pb_promo.full-width-panel .et_pb_promo_description img {
    width: 50%;
    display: block;
  }
}
.ceu-partner-logo {
  background-color: #006666;
  display: block;
  padding: 5px 0 0;
  height: 57px;
  text-align: center;
  /* align the inline(-block) elements horizontally */
  font: 0/0 a;
}
.ceu-partner-logo:before {
  /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}
.ceu-partner-logo img {
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}
/* --------------- CEU Requirements Page --------------- */
body.page-id-306 .et_pb_text_align_left {
  margin: 30px 0px 10px 30px;
  max-width: 90%;
}
@media (width: 320px) {
  body.page-id-306 .et_pb_text_align_left {
    margin: 30px 0px 10px 15px;
  }
}
body.page-id-306 .et_pb_column_1_2 h4 {
  margin-top: 18px;
}
body.page-id-306 .et_pb_column_1_2 p {
  padding-bottom: 0;
}
body.page-id-306 .et_pb_column_1_2 p a {
  text-decoration: underline;
  color: #008752;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-306 .et_pb_section.announcements .et_pb_column {
    margin-right: 0px;
  }
}
/* --------------- Announcements page --------------- */
body.page-id-44 .announcements {
  padding-bottom: 30px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-44 .entry-content > .entry_pb_section > .et_pb_row {
    width: 925px !important;
  }
}
.announcement-box {
  max-width: 100%;
  margin: 30px 0px 0px 20px;
  padding: 20px 0;
  background-color: #f0f0f0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.announcement-box h2 {
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 700;
  color: #666;
  padding-left: 130px;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .announcement-box h2 {
    padding-left: 80px;
  }
}
.announcement-box p {
  padding: 0 10px 0 130px;
  font-size: 90%;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .announcement-box p {
    padding-left: 80px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .announcement-box {
    max-width: 95%;
    margin: 30px 0px 0px 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .announcement-box {
    max-width: 93%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .announcement-box {
    max-width: 93%;
    margin-top: 20px;
  }
}
.right-col {
  margin-left: 40px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .right-col {
    margin-left: 18px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .right-col {
    margin-left: 20px;
  }
}
.gas-for-class {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/gasforclass-icon.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .gas-for-class {
    background-size: contain;
  }
}
.approved-programs {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-approved-programs.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .approved-programs {
    background-size: contain;
  }
}
.program-ideas {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-program-ideas.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .program-ideas {
    background-size: contain;
  }
}
.geroed {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-geroed.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .geroed {
    background-size: contain;
  }
}
.faculty-call {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-faculty-call.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .faculty-call {
    background-size: contain;
  }
}
.stress-effect {
  background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-stress-effect.gif') left center no-repeat;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .stress-effect {
    background-size: contain;
  }
}
body.page-id-44 .et_pb_blurb_content {
  max-width: 80%;
}
body.page-id-44 .et_pb_blurb_content .et_pb_main_blurb_image {
  margin-top: 15px;
  width: 80%;
  text-align: left;
}
body.page-id-44 .et_pb_blurb_content p {
  padding-left: 60px;
}
/* --------------- Resources page --------------- */
body.page-id-56 .et_pb_toggle {
  border: 1px solid #d9d9d9;
  margin-bottom: 15px;
  width: 90%;
}
@media (max-width: 320px) {
  body.page-id-56 .et_pb_toggle {
    width: 60%;
    margin-left: 10px;
  }
  body.page-id-56 .et_pb_toggle h5 {
    font-size: 13px;
  }
}
body.page-id-56 p {
  width: 95%;
}
@media (max-width: 320px) {
  body.page-id-56 p {
    padding-left: 10px;
    font-size: 100%;
  }
}
@media (max-width: 1024px) {
  body.page-id-56 .et_pb_column_3_4 {
    width: 650px;
  }
}
@media (max-width: 768px) {
  body.page-id-56 .et_pb_column_3_4 {
    width: 400px;
  }
}
@media (max-width: 768px) {
  body.page-id-56 .et_pb_column_1_4 {
    width: 200px;
    margin-left: 30px;
  }
}
.et_pb_toggle_content a {
  text-decoration: underline;
  color: #cc9900;
}
.et_pb_toggle_content a:hover {
  color: #008752;
}
.et_pb_column .et_pb_toggle_content div.resource-col {
  display: table-cell;
  width: 250px;
}
.et_pb_column .et_pb_toggle_content div.resource-col p {
  width: 100%;
  vertical-align: top;
}
.et_pb_column .et_pb_toggle_content div.resource-col a img {
  float: left;
  margin-bottom: 20px;
}
/* --------------- About page --------------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-47 .et_pb_column_2_3 {
    max-width: 500px !important;
  }
}
.corner-bkgd {
  background: url('http://www.ceii.dev/wp-content/uploads/2014/07/corner-bkgd.png') 100% 100% no-repeat;
}
.text-indent {
  margin-top: 30px;
}
.text-indent p,
.text-indent ul {
  margin-left: 30px;
}
.about-panel {
  padding: 20px;
  border: #666 1px solid;
  margin-top: 30px;
  background-color: #fff;
}
.corner-bkgd {
  background: url('http://www.ceii.dev/wp-content/uploads/2014/07/corner-bkgd.png') 100% 100% no-repeat;
}
body.page-id-47 .text-indent {
  margin-top: 30px;
}
body.page-id-47 .text-indent p,
body.page-id-47 .text-indent ul {
  margin-left: 30px;
}
@media (max-width: 320px) {
  body.page-id-47 .text-indent p,
  body.page-id-47 .text-indent ul {
    margin-left: 15px;
  }
}
.about-panel {
  padding: 20px;
  border: #666 1px solid;
  margin-top: 30px;
  background-color: #fff;
}
@media (max-width: 320px) {
  .about-panel {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
/* --------------- Contact page --------------- */
body.page-id-49.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {
  top: 132px;
}
body.page-id-49 .et_pb_section.contact {
  background-color: #008752 !important;
  padding-top: 40px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-49 .et_pb_section.contact .et_pb_column {
    margin-right: 15px;
  }
}
body.page-id-49 h1 {
  color: #f1dcb1;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #444444;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-49 h1 {
    font-size: 32px;
  }
}
body.page-id-49 .et_pb_column .contact-icons {
  margin-right: 0px !important;
}
body.page-id-49 .contact-icons {
  padding-left: 50px;
}
body.page-id-49 .contact-icons span,
body.page-id-49 .contact-icons a {
  color: #fff !important;
  font-size: 140% !important;
  vertical-align: middle;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-49 .contact-icons span,
  body.page-id-49 .contact-icons a {
    font-size: 110% !important;
  }
}
body.page-id-49 .contact-icons span.social_facebook_circle,
body.page-id-49 .contact-icons span.icon_mail,
body.page-id-49 .contact-icons span.icon_phone {
  font-size: 250% !important;
  vertical-align: middle;
}
body.page-id-49 .contact-icons p {
  margin-bottom: 10px;
}
body.page-id-49 .et_pb_contact {
  margin-right: 50px;
}
body.page-id-49 .et_pb_contact_form input[type="submit"] {
  color: #fff !important;
  background-color: #005835;
  border: none;
}
body.page-id-49 .et-pb-contact-message {
  color: #fff;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body.page-id-49 .et_pb_section.contact .et_pb_column {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .et_pb_contact_form_container {
    margin-left: 40px;
  }
}
/* ---------------------------------------------------------------------- 2. Navigation */
#et-top-navigation {
  margin-top: 15px;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  #et-top-navigation {
    margin-top: 15px;
  }
}
#top-menu.nav > li > a {
  color: #666;
}
#top-menu.nav > li > a:hover {
  color: #008752;
}
#top-menu.nav > li.current-menu-item > a {
  color: #cc9900;
}
.et_nav_text_color_light #top-menu li.current-menu-ancestor > a {
  color: #666;
}
.et_nav_text_color_light #top-menu li.current-menu-ancestor > a:hover {
  color: #cc9900;
}
.et_nav_text_color_light #top-menu li li a {
  color: #666;
}
.et_nav_text_color_light #top-menu li li a:hover {
  color: #008752 !important;
}
.nav ul li a:hover {
  background: none;
}
.nav li ul {
  border-color: #008752 !important;
}
.et_nav_text_color_light .et_mobile_menu {
  border-color: #008752;
}
.et_nav_text_color_light .et_mobile_menu li a {
  color: #666;
}
.et_nav_text_color_light .et_mobile_menu li a:hover {
  color: #008752 !important;
}
#top-menu li.contact-mobile-menu {
  display: none;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #top-menu li.contact-mobile-menu {
    display: inline-block;
  }
}
/* ---------------------------------------------------------------------- 3. Header */
#page-container {
  border-top: #008752 100px solid;
  background-color: #fff;
  padding-top: 89px !important;
}
@media only screen and (max-width: 529px) {
  #page-container {
    padding-top: 50px !important;
  }
}
#top-header {
  background: #008752 url('http://www.ceii.dev/wp-content/uploads/2014/07/secondary-header-bkgd.jpg') top center no-repeat;
  height: 100px;
  border-bottom: #ffffff 90px solid;
}
#top-header #et-info {
  display: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #top-header {
    background: #008752 url('http://www.ceii.dev/wp-content/uploads/2014/07/secondary-header-bkgd.jpg') top center no-repeat;
  }
}
@media only screen and (max-width: 529px) {
  #top-header {
    border-bottom: #ffffff 50px solid;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #top-header .container > .container {
    width: 690px;
  }
}
header#main-header {
  background-color: transparent;
  width: 1080px;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -540px;
  padding: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.et-fixed-header {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
#top-header form.ccoptin {
  float: right;
  width: 245px;
  margin-top: 5px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #top-header form.ccoptin {
    width: 260px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #top-header form.ccoptin {
    width: 260px;
  }
}
#top-header form.ccoptin p.sign-up {
  color: #ffffff;
  text-align: right;
  float: right;
  line-height: 1.3;
  margin-right: 0;
  margin-bottom: 5px;
}
#top-header form.ccoptin input[type="submit"] {
  color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding: 3px 10px;
  text-align: right;
  float: right;
  height: 26px;
  margin: 0px;
  background-color: #005835;
  border: none;
}
#top-header form.ccoptin input[type=text] {
  height: 20px;
}
@media only screen and (max-width: 529px) {
  #top-header form.ccoptin input[type="text"] {
    width: 30px;
  }
}
#top-header p.header-contact-link a {
  color: #ffffff;
  font-size: 120%;
  float: right;
  margin: 50px 50px 0 0;
}
.et_fixed_nav #logo {
  margin-top: -35px;
  max-height: 81px;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  .et_fixed_nav #logo {
    margin-top: 61px;
    max-height: 60px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  .et_fixed_nav #logo {
    margin-left: 0;
  }
}
@media only screen and (max-width: 529px) {
  .et_fixed_nav #logo {
    margin-top: -25px !important;
    max-height: 50px !important;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #et-top-navigation {
    margin-right: 0 !important;
  }
}
@media (max-width: 1180px) {
  .et_fixed_nav #logo {
    margin-top: -32px;
    max-height: 70px;
  }
  header#main-header {
    padding-top: 0px;
    width: 980px;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -490px;
  }
}
@media (max-width: 1024px) {
  .et_fixed_nav #logo {
    margin-top: -29px;
    max-height: 60px;
  }
  header#main-header {
    padding-top: 0px;
    width: 940px;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -470px;
  }
  header#main-header nav#top-menu-nav {
    padding-top: 0;
  }
  header#main-header #et_top_search {
    margin-top: 8px !important;
  }
}
@media (max-width: 980px) {
  .et_fixed_nav #logo {
    margin-top: -32px;
    max-height: 70px;
  }
  header#main-header {
    padding-top: 0px;
    width: 860px;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -430px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  header#main-header {
    width: 700px;
    margin-left: -350px;
    margin-top: 0px;
    top: 110% !important;
  }
}
#main-header #et_mobile_nav_menu {
  margin-top: -10px;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #main-header #et_mobile_nav_menu {
    margin-top: -20px;
  }
}
@media only screen and (max-width: 529px) {
  header#main-header {
    width: 529px;
    margin-left: 0;
    left: 0%;
  }
}
@media (max-width: 320px) {
  header#main-header {
    width: 320px;
  }
  #et_top_search {
    margin-right: 10px;
    float: left;
  }
  #et-top-navigation {
    margin-top: 0px;
  }
  #main-header #et_mobile_nav_menu {
    margin-top: -15px;
  }
  #top-header form.ccoptin input[type="text"] {
    width: 180px;
  }
  #top-header .container {
    padding-top: 3px;
  }
}
span.mobile_menu_bar:before {
  color: #008752 !important;
}
.mobile_menu_bar:before {
  content: "\61";
  font-size: 64px;
  left: 0;
  position: relative;
  top: 0;
}
#footer-widgets {
  padding-top: 30px;
  font-size: 85%;
}
#footer-widgets .footer-widget {
  width: 225px;
  margin: 0 60px 20px 0;
  color: #fff;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #footer-widgets .footer-widget {
    margin: 0 0 10px 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #footer-widgets {
    padding-left: 30px;
    font-size: 75%;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #footer-widgets .footer-widget {
    width: 180px;
    margin: 0 30px 20px;
  }
  #footer-widgets .footer-widget:nth-child(2) {
    display: none;
  }
}
#footer-bottom {
  display: none;
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #main-footer > .container {
    width: 610px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 768px) {
  #footer-widgets .footer-widget {
    max-width: 180px !important;
    margin: 0 2px 20px;
    display: inline-table;
  }
}
/* ---------------------------------------------------------------------- 4. Posts */
/*

.site-content {
    article {
        border-bottom: 4px double @border-color;
    }
}
.entry-header {
    .entry-title {
        .links(@entry-title-color);
    }
}
.entry-header, .entry-meta {
    .links();
}

*/
/* ---------------------------------------------------------------------- 5. Pages */
body {
  background-color: #666666;
  color: #eeeeee;
}
.site {
  background-color: #333333;
}
#main-content,
.entry-content {
  background: #dfe1e1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfe1e1 0%, #f4f6f6 37%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfe1e1), color-stop(37%, #f4f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfe1e1 0%, #f4f6f6 37%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfe1e1 0%, #f4f6f6 37%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfe1e1 0%, #f4f6f6 37%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfe1e1 0%, #f4f6f6 37%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe1e1', endColorstr='#f4f6f6', GradientType=0);
  /* IE6-9 */
}
.et_pb_pagebuilder_layout .entry-content {
  padding: 30px;
}
.et_pb_pagebuilder_layout .entry-content .et_pub_section {
  background-color: #ffffff;
}
.et_pb_section.et_section_regular {
  padding: 0;
  background-color: #ffffff;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  border: #f1dcb1 20px solid !important;
}
@media only screen and (max-width: 529px) {
  .et_pb_section.et_section_regular {
    border: #f1dcb1 5px solid !important;
  }
}
.et_pb_row {
  width: auto;
  margin: 0 auto;
  padding: 0 0 0 0;
  position: relative;
}
@media (max-width: 320px) {
  .et_pb_pagebuilder_layout .entry-content {
    padding: 5px;
    background-color: #f1dcb1;
  }
  .et_pb_section.et_section_regular {
    border: none;
  }
}
/*-------- Registration Page --------*/
/*body.page-id-40, body.page-id-44, body.page-id-56 {
	.entry-content .et_pb_row {
		.et_pb_column {
		margin-right: 30px;
	}
	    @media @desktop {
		  width: 910px !important;
		}
	}
}
*/
/*-------- Announcement Page --------*/
body.page-id-44 .et_pb_row .et_pb_column {
  margin-right: 20px;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  body.page-id-44 .et_pb_row .et_pb_column {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  body.page-id-44 .et_pb_column_1_2 {
    margin-left: 15px;
    margin-right: 0px;
    width: 440px;
  }
}
body.page-id-44 .entry-content .et_pb_row .et_pb_column {
  margin-right: 0px;
}
@media only screen and (min-width: 1025px) and (max-width: 1200x) {
  body.page-id-40 .et_pb_row .et_pb_column {
    margin-right: 20px;
  }
}
/*-------- About Page --------*/
body.page-id-47 .et_pb_column_2_3 {
  max-width: 630px;
}
/*-------- Search Page --------*/
body.search #sidebar {
  display: none;
}
body.search h2 a {
  color: #008752;
  text-decoration: underline;
}
/* ---------------------------------------------------------------------- 6. Sidebar */
/*
#secondary {
    border-left: 1px solid @border-color;
    padding-left: 20px;
}
*/
/* ---------------------------------------------------------------------- 7. Widgets */
/*
.widget-area{
    .widget {
        .widget-title {
            color: @gray-light;
        }
        .links();
    }
}
 
// Search form
#s, #searchsubmit {
    background: @search-form-background-color;
    border-color: @search-form-border-color;
    color: @white;
}
*/
/* ---------------------------------------------------------------------- 8. Footer */
/*
footer[role="contentinfo"] {
    .links();
}
*/
