// header.less

#page-container {
	border-top:#008752 100px solid;
	background-color: #fff;
	padding-top: 89px !important;
  @media @mobile {
   padding-top: 50px !important;
  }
}

#top-header {
    background: @green url('http://www.ceii.dev/wp-content/uploads/2014/07/secondary-header-bkgd.jpg') top center no-repeat;
    height: 100px;
    border-bottom: @white 90px solid;
     #et-info {
      display: none;
    }
    @media @desktop {
     background: @green url('http://www.ceii.dev/wp-content/uploads/2014/07/secondary-header-bkgd.jpg') top center no-repeat;
    }
    @media @mobile {
      border-bottom: @white 50px solid;
    }
    .container >.container {
      @media @tablet {
        width: 690px;
      }
    }
}

header#main-header {
  background-color: transparent;
  width: 1080px;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -540px;
  padding:0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
 }

 .et-fixed-header {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
 }


 #top-header form.ccoptin {
    float: right;
    width: 245px;
    margin-top: 5px;
    @media @desktop {
      width: 260px;
    }
    @media @tablet {
      width: 260px;
    }
     p.sign-up {
        color: @white;
        text-align: right;
        float: right;
        line-height: 1.3;
        margin-right: 0;
        margin-bottom: 5px;
    }
    input[type="submit"] {
      color: @white;
      font-size: 120%;
      font-weight: bold;
      padding: 3px 10px;
      text-align: right;
      float: right;
      height: 26px;
      margin: 0px;
      background-color: #005835;
      border:none;
    }
    input[type=text] {
      height: 20px;
    }
    @media @mobile {
      input[type="text"] {
        width: 30px;
      }
    }
}

#top-header p.header-contact-link a {
    color: @white;
    font-size: 120%;
    float: right;
    margin: 50px 50px 0 0;
}

.et_fixed_nav #logo {
      margin-top: -35px;
  	  max-height: 81px;
        @media @bigdesktop {
        margin-top: 61px;
        max-height: 60px;
      } 
      @media @tablet {
        margin-left: 0;
      }
        @media @mobile {
        margin-top: -25px !important;
        max-height: 50px !important;
        margin-left: 5px;
      }
}

#et-top-navigation{
  @media @tablet {
    margin-right: 0 !important;
  }
}

@media (max-width: 1180px) {
    .et_fixed_nav #logo {
      margin-top: -32px;
      max-height: 70px;
    }
    header#main-header {
        padding-top: 0px;
        width: 980px;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        margin-left: -490px;
    }
}

@media (max-width: 1024px) {
    .et_fixed_nav #logo {
      margin-top: -29px;
      max-height: 60px;
    }
    header#main-header {
        padding-top: 0px;
        width: 940px;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        margin-left: -470px;
        nav#top-menu-nav {
          padding-top:0;
        }
        #et_top_search {
            margin-top: 8px !important;
        }
    }
}


@media (max-width: 980px) {
    .et_fixed_nav #logo {
      margin-top: -32px;
      max-height: 70px;
    }
    header#main-header {
        padding-top: 0px;
        width: 860px;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        margin-left: -430px;
    }
}

@media @tablet {
  header#main-header {
    width:700px;
    margin-left: -350px;
    margin-top: 0px;
    top: 110% !important;
  }
}

#main-header #et_mobile_nav_menu {
  margin-top: -10px;
  @media @tablet {
    margin-top: -20px;
   }
}

@media @mobile {
  header#main-header {
    width: 529px;
    margin-left:0;
    left: 0%;
  }
}

@media (max-width:320px) {
  header#main-header {
    width:320px;
  }
  #et_top_search {
    margin-right: 10px;
    float: left;
  }
  #et-top-navigation {
    margin-top: 0px;
  }
  #main-header #et_mobile_nav_menu {
    margin-top: -15px;
  }
  #top-header form.ccoptin input[type="text"] {
    width: 180px;
  }
  #top-header .container {
    padding-top: 3px;
  }
}


span.mobile_menu_bar:before {
  color: @green !important;
}

.mobile_menu_bar:before {
content: "\61";
font-size: 64px;
left: 0;
position: relative;
top: 0;
}





#footer-widgets {
  padding-top: 30px;
  font-size: 85%;
  .footer-widget {
    width: 225px;
    margin: 0 60px 20px 0;
    color: #fff;
    @media @desktop {
      margin: 0 0 10px 0;
    }
  }
  @media @desktop {
    padding-left:30px;
    font-size: 75%;
    line-height: 1.6;
  }
}

#footer-widgets .footer-widget {
  @media @tablet {
  &:nth-child(2) {
   display: none;
  }
  width: 180px;
margin: 0 30px 20px;
}
}

#footer-bottom {
  display: none;
}

#main-footer > .container {
  @media @tablet {
    width: 610px;
  }
}

#footer-widgets .footer-widget {
@media @tablet {
max-width: 180px !important;
margin: 0 2px 20px;
display: inline-table;
}
}
