// misc.less
 

.et_pb_text {
	margin-bottom: 0;
}

/*.entry-content .et_pb_section .et_section_regular .et_pb_row {
	width: auto !important;
}*/

.section-head {
	height: 35px;
	h1 {
		font-size: 150%;
		font-weight: bold;
		color: @white;
		padding: 0;
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		background-color: @green;
		line-height: 35px;
		width: auto;
	}
}

body.page-id-38 .section-head h1, body.page-id-40 .section-head h1, body.page-id-42 .section-head h1, body.page-id-47 .section-head h1, body.page-id-306 .section-head h1 {
	@media @desktop {
		margin-right: 0;
	}
	/*@media @tablet {
		margin-right: 39.5%;
	}*/
}

.et_pb_promo {
	border: #bebebe 1px solid;
}

/* --------------- Programs page --------------- */ 

body.page-id-38 .et_pb_section {
	background: url(http://www.ceii.dev/wp-content/uploads/2014/08/program-bkgd.jpg) center top no-repeat;
}

body.page-id-38 .section-head h1 {
	@media @tablet {
		margin-right: 0;
	}
}

body.page-id-38 .et_pb_column {
	@media @mobile {
		padding-bottom: 15px;
	}
}

.current-programs, .current-brochures {
	width: 70%;
	margin: 30px 0 30px 15%;
	border: #bebebe 1px solid;
	background-color: @white;
	@media @desktop {
		margin-left: 15%;
	}
	@media @tablet {
		width:85%;
		margin: 5px 0 30px 7%;
	}
	@media @mobile {
		width: 94%;
		margin: 1% 0 1% 2%;
	}

	h1 {
		color: #fff;
		background-color: @green;
		font-size: 125%;
		font-weight: bold;
		padding: 5px 0;
		text-align: center;
		text-transform: uppercase;

	}
}

.current-brochures {
	h2 {
		font-size: 18px;
		color: #666666;
		padding: 3% 3% 1% 3%;
			@media @tablet {
			font-size: 14px;
			}
			@media @mobile {
				font-size: 14px;
			}
		}
	a {
		color: @white;
		background-color: #9e9c6e;
		padding: 3px 10px;
		margin-right: 1%;
		border-radius: 4px;
		@media (max-width:320px) {
			display: table;
			margin: 3px 0;
		}
	}
	p {
		margin-left: 3%;
	}
}

.eventon_sorting_section {
margin: 5px 0;
padding: 8px 0 7px;
border-top: 1px dashed #666666 !important;
border-bottom: 1px dashed #666666 !important;
}

.eventon_sf_field p, .evo_srt_sel p.fa, .eventon_filter_line .filtering_set_val {
color: #666666 !important;
}

.eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2, .evo_pop_body .evcal_desc span.evcal_desc2{
	@media @mobile {
		font-size:14px !important;
	}
}

.body-text {
	padding-top: 30px;
	margin-bottom: 30px;
	p {
		font-size: 112%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* --------------- Registration page --------------- */ 


body.page-id-40 .et_pb_row .et_pb_column {
	margin-right: 30px;
	@media (max-width:1180px) {
		margin-right: 15px !important;
	}
}

.page-id-40 .entry-content .et_pb_row:nth-child(2) .et_pb_column {
	@media @tablet {
	width: 225px;
	margin-left: 10%;
	margin-right: 5px !important;
	}
}

.page-id-40 .et_pb_column.et_pb_column_1_4 {
	&:first-child {
	margin-left: 4%;
		@media @desktop {
			margin-left: 6%;
		}
		@media @tablet {
			margin-left: 0;
		}
	}
	@media (max-width:320px) {
		margin-left: 6%;
	}
	.reg-box {
		@media @tablet {
			width: 225px !important;
		}
	}
}

.page-id-40 .et_pb_column_1_4 .et_pb_promo {
	padding:0;
	border: #bebebe 1px solid;
		h2 {
			font-size: 120%;
			color: @white;
			line-height: 1.2;
			background-color: #006666;
			width: 100%;
			padding:10px 13%;
			height: 60px;
			display: table-cell;
			vertical-align: middle;
			@media @desktop {
				font-size: 110%;
			}
			@media (max-width:320px) {
				padding: 10px 5%;
			}
		}
		.et_pb_promo_description {
			padding-bottom: 10px;
			height: 200px;
			@media @desktop {
				height: 220px;
			}
		}
		h3 {
			font-size: 90%;
			color: @white;
			font-weight: 700;
			background-color: #000;
			text-transform: uppercase;
			letterspacing: 1px;
			padding: 5px 0;
		}
		p {
			font-size: 90%;
			line-height: 1.4em;
			padding-top: 10px;
		}
		a.et_pb_promo_button {
			color: @white !important;
			background-color: #9e9c6e;
			text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
			text-transform: uppercase;
			padding: 0px 20px;
			margin-bottom: 10px;
			border: none;
			&:hover {
				background-color:#9e9c6e;
				padding: 0px 34px 0 14px !important;
				border: none;
			}
			&:after {
				top:0px;
			}
		}
}

.page-id-40 .et_pb_column_1_4 .et_pb_promo.vein-access h2 {
	@media (max-width:320px) {
		padding: 10px 20%;

	}
}

	
	.et_pb_column_1_4 { 
		@media ( min-width: 1054px ) and ( max-width: 1100px ){
		width: 210px; }
		@media (min-width:970px) and (max-width: 1053px) {
			width: 190px;
		}
		@media (min-width:768px) and (max-width: 969px) {
			width: 250px;
		}
		@media (max-width:944px) {
			#main-content .et_pb_column:nth-child (3) {
				margin-left: 4%;
			}
		}
		@media (max-width: 640px) {
			margin: 0 auto;
		}
		.et_pb_promo p {
			padding: 10px;
		}
	}

body.page-id-40 .et_pb_column_1_4 .et_pb_promo {
	@media (max-width: 480px) {
		width: 40%;
	}
	@media (max-width:320px) {
		width: 87%;
	}
	h2 {
		font-size: 100%;
		display: table-cell;
	}

}

	.et_pb_column {
		@media (max-width:944px) {
		padding-bottom: 0;
		}
}

/*.page-id-40 .et_pb_blurb_content p strong em {
	@media @tablet {
		font-size: 120%;
	}
}*/

body.page-id-40 .et_pb_blurb_position_left .et_pb_main_blurb_image {
	position: absolute;
	top: 10%;
	left:0;
	width: 103px !important;
	@media (max-width:320px) {
		position: relative;
		margin-bottom: 0px;
		width: 100px;
	}
}

.page-id-40 .et_pb_blurb_content {
		padding-left: 110px;
		p strong em {
		@media @tablet {
			font-size: 120%;
		}
	} 
		p {
		@media (max-width:320px) {
		padding-left: 0px;
		}
	}
		@media (max-width:320px) {
			padding-left: 20px;
			padding-right: 20px;
		}
}







/* --------------- More Online CEUs Page --------------- */


body.page-id-42 {
	.et_pb_column_1_3 {
		margin-right:30px;
		@media @tablet {
			width:600px;
			margin-left: 36px;
		}
		@media (max-width:640px) {
			width: 480px;
		}
		@media (max-width:480px) and (min-width: 321px) {
			width: 350px;
			margin-left: 30px;
		}
		@media (max-width:320px) {
			width: 300px;
			margin-left: 5px;
		}

		&:first-child {
			margin-left:36px;
			@media (max-width:480px) {
				margin-left: 36px;
			}
			@media (max-width: 320px) {
				margin-left: 10px;
			}
		}
		@media @desktop {
			margin-right: 6px !important;
		} 
		
		.et_pb_promo {
		padding:0;
		margin-right:15px;
		margin-left:0px;
			h2 {
				color: @biege; padding: 0px 5%;
				background-color: @bluegreen;
				font-size: 16px;
				padding: 10px 5px;
				line-height: 1.5;
			}
			.et_pb_promo_description {
			padding-bottom:10px;
			height: 100%;
				p {
				padding: 10px 10px 0;
				}
				a {
				color: @green;
				font-weight: bold;
				text-transform: bold;
				margin-top:0;
				text-decoration: underline;
				}
			}
		}	
	}
}

@media @desktop {
	.full-width-panel {
		width: 83%;
		padding: 20px !important;
		img {
			max-width: 235px !important;
		}
	}
	.et_pb_text.body-text {
		width:95% !important;
		
		}
}

.et_pb_column_4_4 .et_pb_promo.full-width-panel {
		margin-left:36px;
		margin-right:36px;
		padding: 20px;
		background: rgba(255, 255, 255, 0.8);
		@media (max-width: 320px) {
			width: 95%;
			margin-left: 5px;
		}
		.et_pb_promo_description {
			height: 100%;
			p {
				margin: 0 2% 0 32%;
				padding-top:0;
				@media @tablet {
					margin: 0 2% 0 2%;
				}
				@media (max-width: 480px) {
				margin: 0 2% 0 2%;
				text-align: left;
				}
			}
			a {
				color: @green;
			}
			img {
				@media (max-width: 480px) {
					width: 50%;
					display: block;
				}
			}
		}
	}

.ceu-partner-logo {
	background-color: @bluegreen;
	display: block;
	padding: 5px 0 0;
	height: 57px;
	text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;
		&:before {    /* create a full-height inline block pseudo=element */
		content: ' ';
		 display: inline-block;
		vertical-align: middle;  /* vertical alignment of the inline element */
		height: 100%;
	}
	img {
	display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
	}
	h2 {

	}
}

/* --------------- CEU Requirements Page --------------- */

body.page-id-306 { 
		.et_pb_text_align_left {
		margin: 30px 0px 10px 30px;
		max-width: 90%;
		@media (width: 320px) {
			margin: 30px 0px 10px 15px;
		}
	}
	.et_pb_column_1_2 h4 {
		margin-top: 18px;
	} 
	.et_pb_column_1_2 p {
		padding-bottom: 0;
		a {
			text-decoration: underline;
			color: @green;
		}
	}
}

@media @desktop {
	body.page-id-306 .et_pb_section.announcements .et_pb_column {
	margin-right: 0px;
	}
}

/* --------------- Announcements page --------------- */ 

body.page-id-44 .announcements {
	padding-bottom: 30px;
	}

body.page-id-44 .entry-content > .entry_pb_section > .et_pb_row {
	@media @desktop {
		width: 925px !important;
	}
}	

.announcement-box {
	max-width: 100%;
	margin: 30px 0px 0px 20px;
	padding: 20px 0;
	background-color: #f0f0f0;
	.border-radius(10px);
	.drop-shadow (@x: 1px, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25);
	h2 {
		font-size: 150%;
		text-transform: uppercase;
		font-weight: 700;
		color: #666;
		padding-left: 130px;
			@media @bigdesktop {
				padding-left: 80px;
			}
			
	}
	p {
		padding: 0 10px 0 130px;
		font-size: 90%;
			@media @bigdesktop {
				padding-left: 80px;
			}
	}
		@media @bigdesktop { 
		max-width: 95%;
		margin: 30px 0px 0px 0px; 
	}
	@media @desktop {
		max-width: 93%;
	}
	@media @tablet {
		max-width: 93%;
		margin-top: 20px;
	}
}

.right-col {
		margin-left: 40px;
		@media @desktop {
			margin-left:18px;
	}
		@media @tablet {
			margin-left: 20px;
		}
}

.gas-for-class {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/gasforclass-icon.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}
.approved-programs {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-approved-programs.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}
.program-ideas {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-program-ideas.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}
.geroed {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-geroed.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}
.faculty-call {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-faculty-call.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}
.stress-effect {
		background: #f0f0f0 url('http://www.ceii.dev/wp-content/uploads/2014/08/announce-stress-effect.gif') left center no-repeat;
		@media @bigdesktop {
		background-size: contain;
		}
}

body.page-id-44 .et_pb_blurb_content {
	max-width: 80%;
	.et_pb_main_blurb_image {
		margin-top: 15px;
		width: 80%;
		text-align: left;
	}
	p {
		padding-left: 60px;
	}
}

/* --------------- Resources page --------------- */ 

body.page-id-56 {
	.et_pb_toggle {
		border: 1px solid #d9d9d9;
		margin-bottom: 15px;
		width: 90%;
		@media (max-width: 320px) {
			width: 60%;
			margin-left: 10px;
			h5 {
				font-size: 13px;
			}
		}
	}
	
	p {
		width: 95%;
		@media (max-width:320px) {
			padding-left: 10px;
			font-size: 100%;
		}
	}
	
	@media (max-width: 1024px) {
		.et_pb_column_3_4 {
		width: 650px;
		}
	}
	@media (max-width: 768px) {
		.et_pb_column_3_4 {
		width: 400px;
		}
	}
	@media (max-width: 768px) {
		.et_pb_column_1_4 {
		width: 200px;
		margin-left: 30px;
		}
	}
	
}


.et_pb_toggle_content a {
	text-decoration: underline;
	color: @orange;
	&:hover {
		color:@green;
	}
}

.et_pb_column .et_pb_toggle_content div.resource-col {
	display: table-cell;
	width: 250px;
}

.et_pb_column .et_pb_toggle_content div.resource-col p{
	width:100%;
	vertical-align: top;
}

.et_pb_column .et_pb_toggle_content div.resource-col a img {
	float: left;
	margin-bottom: 20px;
}

/* --------------- About page --------------- */ 


body.page-id-47 {
	.et_pb_column_2_3 {
		@media @desktop {
		max-width: 500px !important;
		}
	}
}

.corner-bkgd {
	background: url('http://www.ceii.dev/wp-content/uploads/2014/07/corner-bkgd.png')100% 100% no-repeat;
}

.text-indent {
	margin-top: 30px;
	p, ul {
		margin-left: 30px;
	}
}

.about-panel {
	padding: 20px;
	border: #666 1px solid;
	margin-top:30px;
	background-color: #fff;
}

.corner-bkgd {
	background: url('http://www.ceii.dev/wp-content/uploads/2014/07/corner-bkgd.png')100% 100% no-repeat;
}

body.page-id-47 .text-indent {
	margin-top: 30px;
	p, ul {
		margin-left: 30px;
		@media (max-width:320px) {
		margin-left: 15px;
		}
	}
}

.about-panel {
	padding: 20px;
	border: #666 1px solid;
	margin-top:30px;
	background-color: #fff;
	@media (max-width:320px) {
		width:80%;
		margin-left: 10px;
		margin-bottom: 10px;
	}
}

/* --------------- Contact page --------------- */ 

body.page-id-49.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {
	top: 132px;
}

body.page-id-49 {
	.et_pb_section.contact {
		background-color: @green !important;
		padding-top: 40px;
		@media @desktop {
			.et_pb_column {
				margin-right: 15px;
			}
		}
	}
	h1 {
		color: @biege;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: -1px -1px 0px rgba(68, 68, 68, 1);
		@media @desktop {
			font-size: 32px;
		}
	}
	.et_pb_column .contact-icons {
		margin-right: 0px !important;
	}
	.contact-icons {
		padding-left: 50px;
		span, a {
			color: #fff !important;
			font-size: 140% !important;
			vertical-align: middle;
			@media @desktop {
				font-size: 110% !important;
			}
		}
		span.social_facebook_circle, span.icon_mail, span.icon_phone {
			font-size: 250% !important;
			vertical-align: middle;
		}
		p {
			margin-bottom: 10px;
		}
	}
	.et_pb_contact {
		margin-right: 50px;
	}
	.et_pb_contact_form input[type="submit"] {
		color: #fff !important;
		background-color: #005835;
		border: none;
	}
	.et-pb-contact-message {
		color: #fff;
	}
}

@media @desktop {
	body.page-id-49 .et_pb_section.contact .et_pb_column {
	margin-right: 0px;
	}
}


@media @tablet {
	.et_pb_contact_form_container {
		margin-left: 40px;
	}
}







