// navigation.less

#et-top-navigation {
    margin-top:15px;
    @media @bigdesktop {
    margin-top: 15px;
    }
}


#top-menu.nav > li > a  {
    color: #666;
    &:hover {
    color: @green;
    }
}

#top-menu.nav > li.current-menu-item > a {
    color: @orange;
}

.et_nav_text_color_light #top-menu li.current-menu-ancestor > a {
    color: #666;
    &:hover {
    color: @orange;
    }
}

.et_nav_text_color_light #top-menu li li a {
    color: #666;
    &:hover {
    color: @green !important;
 }
}

.nav ul li a:hover {
    background: none;
}

.nav li ul {
    border-color: @green !important;
}

.et_nav_text_color_light .et_mobile_menu {
    border-color: @green;
    li a {
        color: #666;
        &:hover {
            color: @green !important;
        }
    }
} 

#top-menu li.contact-mobile-menu {
    display: none;
    @media @tablet {
        display: inline-block;
    }
}