// pages.less


body {
    background-color: @body-background-color;
    color: @body-color;
}
 
.site {
    background-color: @content-background-color;
}
 
#main-content, .entry-content {
	background: #dfe1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #dfe1e1 0%, #f4f6f6 37%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe1e1), color-stop(37%,#f4f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dfe1e1 0%,#f4f6f6 37%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dfe1e1 0%,#f4f6f6 37%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dfe1e1 0%,#f4f6f6 37%); /* IE10+ */
	background: linear-gradient(to bottom,  #dfe1e1 0%,#f4f6f6 37%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe1e1', endColorstr='#f4f6f6',GradientType=0 ); /* IE6-9 */
}

.et_pb_pagebuilder_layout .entry-content {
       padding: 30px;
	    .et_pub_section {
	    background-color: @white;
	}
}

.et_pb_section.et_section_regular {
	padding: 0;
	background-color: @white;
	max-width:1080px;
	margin-left: auto;
	margin-right: auto;
	border: @biege 20px solid !important;
	@media @mobile {
		border: @biege 5px solid !important;
	}
}

.et_pb_row {
	width: auto;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	
}

@media (max-width: 320px) {
	.et_pb_pagebuilder_layout .entry-content {
	    padding:5px;
	    background-color: @biege;
	  }
	  .et_pb_section.et_section_regular {
	  	border: none;
	  }

}

/*-------- Registration Page --------*/ 

/*body.page-id-40, body.page-id-44, body.page-id-56 {
	.entry-content .et_pb_row {
		.et_pb_column {
		margin-right: 30px;
	}
	    @media @desktop {
		  width: 910px !important;
		}
	}
}
*/


/*-------- Announcement Page --------*/ 

body.page-id-44 { 
	.et_pb_row .et_pb_column {
		margin-right: 20px;
			@media @bigdesktop {
		margin-right: 5px;
		}
	}
	.et_pb_column_1_2 {
		@media @bigdesktop {
		margin-left: 15px;
		margin-right:0px;
		width: 440px;
		}
	}
}

	body.page-id-44 .entry-content .et_pb_row .et_pb_column {
margin-right: 0px;
}

@media @bigdesktop {
	body.page-id-40 .et_pb_row .et_pb_column {
	margin-right: 20px;
}
}

/*-------- About Page --------*/ 

body.page-id-47 .et_pb_column_2_3 {
	max-width: 630px;
}

/*-------- Search Page --------*/ 

body.search {
	#sidebar {
		display:none;
	}
	h2 a {
		color: @green;
		text-decoration: underline;
	}
}



