/*!
 Theme Name:     CEII
 Description:    CEII
 Author:         Randy Karey
 Author URI:     http://www.randykarey.com
 Template:       Divi
 Version:        1.0.0
*/
 
@import url("../Divi/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */
/*
 1. Miscellanous
    - Variables
    - Mixins
    - Misc
  2. Navigation
  3. Header
  4. Posts
  5. Pages
  6. Sidebar
  7. Widgets
  8. Footer
*/
 
/* ---------------------------------------------------------------------- 1. Miscellanous */
 
// Variables
@import "variables.less";
 
// Mixins
@import "mixins.less";
 
// Misc
@import "misc.less";
 
/* ---------------------------------------------------------------------- 2. Navigation */
 
@import "navigation.less";
 
/* ---------------------------------------------------------------------- 3. Header */
 
@import "header.less";
 
/* ---------------------------------------------------------------------- 4. Posts */
 
@import "posts.less";
 
/* ---------------------------------------------------------------------- 5. Pages */
 
@import "pages.less";
 
/* ---------------------------------------------------------------------- 6. Sidebar */
 
@import "sidebar.less";
 
/* ---------------------------------------------------------------------- 7. Widgets */
 
@import "widgets.less";
 
/* ---------------------------------------------------------------------- 8. Footer */
 
@import "footer.less";