// variables.less
 
// Colors
@white: #fff;
@gray: #666;
@gray-dark: #333;
@gray-light: #eee;
@green: #008752;
@orange: #cc9900;
@biege: #f1dcb1;
@ltorange: fade(saturate(@orange,80%), 25%);
@bluegreen: #006666;
@tan: ##9e9c6e;


@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 768px)";
@desktop:     ~"only screen and (min-width: 769px) and (max-width: 1024px)";
@bigdesktop:  ~"only screen and (min-width: 1025px) and (max-width: 1200x)";

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}




// Content
@body-background-color: @gray;
@body-color: @gray-light;
@content-background-color: @gray-dark;
 
// Header
@site-title-color: @white;
@site-title-color-hover: @orange;
@site-description-color: @gray-light;
 
// Links
@links-color: @orange;
@links-color-hover: @orange;
 
// Navigation
@menu-items-color: @gray-light;
@menu-items-color-hover: @orange;
@menu-items-color-active: @white;
 
// Posts
@entry-title-color: @white;
@border-color: @gray;
 
// Widgets
@search-form-background-color: @gray;
@search-form-border-color: @gray;
@search-form-text-color: @white;

// Text Drop Shadow
