// widgets.less
 /*
.widget-area{
    .widget {
        .widget-title {
            color: @gray-light;
        }
        .links();
    }
}
 
// Search form
#s, #searchsubmit {
    background: @search-form-background-color;
    border-color: @search-form-border-color;
    color: @white;
}
*/